<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3>Account Register</h3>
          </div>
          <div class="card-body">
            <div th:if="${success}">
              <p class="alert alert-success" role="alert">
                Successfully Register!
              </p>
            </div>
            <form th:action="@{/payment/register}" th:object="${customer}" method="post">
              <div class="form-group">
                <label for="firstName" class="form-label">FirstName</label>
                <input type="text" th:field="*{firstName}" name="firstName" id="firstName" class="form-control">
              </div>
              <div class="form-group">
                <label for="lastName" class="form-label">LastName</label>
                <input type="text" th:field="*{lastName}" name="lastName" id="lastName" class="form-control">
              </div>
              <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" th:field="*{email}" name="email" id="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" th:field="*{password}" name="password" id="password" class="form-control">
              </div>
              <div class="form-group">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" th:field="*{confirmPassword}" name="confirmPassword" id="confirmPassword" class="form-control">
              </div>
              <input type="submit" class="btn btn-info btn-lg" value="Register">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>